.todo-list {
  display: flex;
  flex-direction: column;

  .todo-header {
    font-weight: 600;
  }

  .todo-header,
  .todo-item {
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-bottom: solid 1px #ccc;

    .todo-task,
    .todo-add,
    .todo-max,
    .todo-done {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    .todo-task {
      flex: 1;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    .todo-add,
    .todo-max,
    .todo-done {
      width: 90px;
      margin-left: 10px;
    }
  }

  .btn-add-subtask {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: none;
    background: none;
    &:focus {
      outline: 0;
    }
  }
}
